<div class="cart_title"> Your Collection </div>
<table>
	<% for item in @cart.line_items %>
		<tr>
			<td> <%= item.quantity %> &times; </td>
			<td> <%= item.post.title %> </td>
		</tr>
	<% end %>
	
	<tr class="total_line">
		<td colspan="2"> Total </td>
		<td class="total_cell"> <%= @cart.total_line %> </td>
	</tr>
</table>

<%= button_to 'Empty Cart', @cart, :method => :delete, :confirm => 'Are you SURE!?' %>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
